.row{
    display: flex;
    padding: 20px;
    margin: 30px;
}
.row .col1{
    color: tomato;
    background-color: yellow;
    border: 10px offset;
    margin: 20px;
    padding: 10px;
    text-align: justify;
}

.row .col2{
    color: blue;
    background-color: brown;
    border: 10px offset;
    margin: 20px;
    text-align: justify;
    padding: 10px;
}

.table ul {
    list-style: none;
}
button{
    margin: 20px;
    padding: 10px;
}